.vs/slnx.sqlite
.vs/VSWorkspaceState.json
InterfazGrafica/x64/Debug/InterfazGrafica.pdb
InterfazGrafica/InterfazGrafica/x64/Debug/VerYBuscarSocios_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/VerYBuscarLibro_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/VerPrestamo_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/vc143.pdb
InterfazGrafica/InterfazGrafica/x64/Debug/Socios_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/RegistrarPrestamo_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/RegistrarDevolucion_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/Prestamos_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/ModificarSocio_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/ModificarLibro_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/Libros_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.VerYBuscarSocios_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.VerYBuscarLibro_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.VerPrestamo_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.vcxproj.GenerateResource.cache
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.vcxproj.AssemblyReference.cache
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/unsuccessfulbuild
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/ResGen.write.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/ResGen.read.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/ResGen.command.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/metagen.write.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/metagen.read.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.write.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.read.2.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.read.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.command.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.6592.write.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.6592.read.2.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.6592.read.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/InterfazGrafica.lastbuildstate
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/CL.write.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/CL.read.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/CL.command.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.Socios_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.RegistrarPrestamo_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.RegistrarDevolucion_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.Prestamos_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.ModificarSocio_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.ModificarLibro_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.log
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.Libros_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.Inicio_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.BajaSocio_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.BajaLibro_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.AltaSocio_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.AltaLibro_Form.resources
InterfazGrafica/InterfazGrafica/x64/Debug/Inicio_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/BajaSocio_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/BajaLibro_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/AltaSocio_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/AltaLibro_Form.obj
InterfazGrafica/InterfazGrafica/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
InterfazGrafica/InterfazGrafica/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
InterfazGrafica/InterfazGrafica/Debug/VerYBuscarSocios_Form.obj
InterfazGrafica/InterfazGrafica/Debug/VerYBuscarLibro_Form.obj
InterfazGrafica/InterfazGrafica/Debug/VerPrestamo_Form.obj
InterfazGrafica/InterfazGrafica/Debug/vc143.pdb
InterfazGrafica/InterfazGrafica/Debug/Socios_Form.obj
InterfazGrafica/InterfazGrafica/Debug/RegistrarPrestamo_Form.obj
InterfazGrafica/InterfazGrafica/Debug/RegistrarDevolucion_Form.obj
InterfazGrafica/InterfazGrafica/Debug/Prestamos_Form.obj
InterfazGrafica/InterfazGrafica/Debug/ModificarSocio_Form.obj
InterfazGrafica/InterfazGrafica/Debug/ModificarLibro_Form.obj
InterfazGrafica/InterfazGrafica/Debug/Libros_Form.obj
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.VerYBuscarSocios_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.VerYBuscarLibro_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.VerPrestamo_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.vcxproj.GenerateResource.cache
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.vcxproj.FileListAbsolute.txt
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.vcxproj.AssemblyReference.cache
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/ResGen.write.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/ResGen.read.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/ResGen.command.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/metagen.write.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/metagen.read.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/link.write.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/link.secondary.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/link.read.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/link.command.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/InterfazGrafica.lastbuildstate
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/CL.write.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/CL.read.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/Cl.items.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.tlog/CL.command.1.tlog
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.Socios_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.RegistrarPrestamo_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.RegistrarDevolucion_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.Prestamos_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.ModificarSocio_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.ModificarLibro_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.log
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.Libros_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.Inicio_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.exe.recipe
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.BajaSocio_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.BajaLibro_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.AltaSocio_Form.resources
InterfazGrafica/InterfazGrafica/Debug/InterfazGrafica.AltaLibro_Form.resources
InterfazGrafica/InterfazGrafica/Debug/Inicio_Form.obj
InterfazGrafica/InterfazGrafica/Debug/BajaSocio_Form.obj
InterfazGrafica/InterfazGrafica/Debug/BajaLibro_Form.obj
InterfazGrafica/InterfazGrafica/Debug/AltaSocio_Form.obj
InterfazGrafica/InterfazGrafica/Debug/AltaLibro_Form.obj
InterfazGrafica/InterfazGrafica/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
InterfazGrafica/InterfazGrafica/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
InterfazGrafica/Debug/InterfazGrafica.pdb
InterfazGrafica/Debug/InterfazGrafica.exe.metagen
InterfazGrafica/Debug/InterfazGrafica.exe
InterfazGrafica/.vs/InterfazGrafica/v17/ipch/AutoPCH/e1fbb749f5a2db2a/INICIO_FORM.ipch
InterfazGrafica/.vs/InterfazGrafica/v17/ipch/AutoPCH/69e9389fe22ac88d/INICIO_FORM.ipch
InterfazGrafica/.vs/InterfazGrafica/v17/ipch/AutoPCH/54c882bceff291df/MODIFICARLIBRO_FORM.ipch
InterfazGrafica/.vs/InterfazGrafica/v17/ipch/AutoPCH/488ac72eb5501d46/ALTASOCIO_FORM.ipch
InterfazGrafica/.vs/InterfazGrafica/v17/DocumentLayout.json
InterfazGrafica/.vs/InterfazGrafica/v17/DocumentLayout.backup.json
InterfazGrafica/.vs/InterfazGrafica/v17/Browse.VC.opendb
InterfazGrafica/.vs/InterfazGrafica/v17/Browse.VC.db-wal
InterfazGrafica/.vs/InterfazGrafica/v17/Browse.VC.db-shm
InterfazGrafica/.vs/InterfazGrafica/v17/Browse.VC.db
InterfazGrafica/.vs/InterfazGrafica/v17/.suo
InterfazGrafica/.vs/InterfazGrafica/FileContentIndex/9dcadbfa-4cac-4afa-bfe5-cdc0c95b3d42.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
InterfazGrafica/.vs/InterfazGrafica/v17/Solution.VC.db
.vs/slnx.sqlite
InterfazGrafica/.vs/InterfazGrafica/v17/ipch/AutoPCH/306765f2276a9aa5/INICIO_FORM.ipch
InterfazGrafica/.vs/InterfazGrafica/FileContentIndex/1a4808a6-b808-41d9-a38b-fe1a0e7c6289.vsidx
InterfazGrafica/InterfazGrafica/InterfazGrafica.vcxproj
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.exe.recipe
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/Cl.items.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.tlog/link.secondary.1.tlog
InterfazGrafica/InterfazGrafica/x64/Debug/InterfazGrafica.vcxproj.FileListAbsolute.txt
InterfazGrafica/x64/Debug/InterfazGrafica.exe
InterfazGrafica/x64/Debug/InterfazGrafica.exe.metagen
